@use './src/scss/_const' as *;

.header {
  margin-bottom: 32px;
}
.headerWrapper {
  @extend %wrapper;
  padding-top: 32px;
  padding-bottom: 32px;

}
.menuWrapper {
  position: relative;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.menuContainer {
  width: 100%;
  text-align: center;
}
.menu {
  display: flex;
  justify-content: space-around;
  max-width: 1494px;
  margin: 0 auto;
}
.menuTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
}
.logoDesc {
  font-size: 9px;
  font-weight: 600;
  letter-spacing: .2px;
  line-height: 20px;
  text-transform: uppercase;
  color: black;
}
.search {
  position: relative;
  display: flex;
  align-items: center;
}
.dotsGreen,
.dotsBlue {
  width: 5px;
  height: 5px;
  background-color: $btnBg;
  border-radius: 50%;
}
.userDesc {
  font-size: 12px;
  line-height: 16px;
  color: $text;
  opacity: 0.7;
  text-shadow: 0 0 0 #909090;
}
.dotsBlue {
  background-color: $dots;
}
.usersInfo {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.logIn {
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.imgSearch {
  position: absolute;
  top: 9px;
  left: 12px
}
.input {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
  height: 32px;
  line-height: 22px;
  padding: 8px 105px 8px 36px;
}
.findBtn,
.registrationBtn {
  border-radius: 0 4px 4px 0;
  font-weight: 400;
  padding: 5px 16px;
  background-color: $btnBg;
  border-color: $btnBg;
  color: $white;
  &:hover {
    background-color: $btnHover;
  }
}
.loginBox {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-left: auto;
}
.registrationBtn {
  border-radius: 4px;
  padding: 10px 24px;
}
.itemMenu {
  position: relative;
  color: $text;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
  &:hover {
    transition: 0.2s ease-out;
    color: $dots;
  }
  &:hover:before {
    position: absolute;
    content: '';
    bottom: -13px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $dots;
  }
}
.liMenuItem {
  position: relative;
  margin: 9px 0;
  border-right: 1px solid $border;
  &:hover .menuBox {
    display: flex;
    opacity: 1;
  }
  &:before {
    position: absolute;
    z-index: 2;
    content: '';
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 20px;
  }
}
.titleDropMenu {
  color: #303030;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: unset;
  white-space: nowrap;
}
.menuBox {
  display: none;
  position: absolute;
  top: 34px;
  left: -1px;
  z-index: 2;
  background-color: $white;
  border: 1px solid $border;
  min-width: 150px;
  padding: 15px 32px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.menuItemActive {}
.firstMenuBox,
.borderRightNone {
  max-width: fit-content;
  width: 100%;
  border-right: 1px solid #ccc;
  &:nth-child(2),
  &:nth-child(3) {
    padding-left: 32px;
  }
  &:nth-child(3) {
    border-right: none;
  }
}
.firstMenuBox:last-child {
  & .linkBox {
    padding-right: 0;
  }
}
.borderRightNone {
  &:nth-child(2) {
    border-right: none;
  }
}
.linkBox,
.linkBoxPaddingNone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 8px;
  row-gap: 4px;
  margin-bottom: 16px;
  padding-right: 32px;
}
.linkBoxPaddingNone {
  padding-right: 0;
}
.submenuItem {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.menuDesc {
  position: relative;
  color: #000;
  line-height: 22px;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  transition: 0.2s ease-in;
  &:before {
    position: absolute;
    z-index: 1;
    content: '';
    top: 0;
    left: -32px;
    width: 2.5px;
    height: 23px;
    background-color: $dots;
    opacity: 0;
    transition: 0.2s ease-in;
  }
  &:hover {
    color: $dots;
  }
  &:hover:before {
    //transition: 0.2s ease-in;
    opacity: 1;
  }
}


