@use './src/scss/_const' as *;

.designLogo {
  @extend %wrapper;
  display: grid;
  row-gap: 16px;
}
.catalogHeader {
  font-size: 34px;
  line-height: 40px;
  text-align: left;
  font-weight: 600;
  margin-bottom: 16px;
  @media (max-width: 767px) {
    font-size: 27px;
    line-height: 32px;
  }
}
.menuBox {
  display: flex;
  gap: 8px;
}
.menuItem {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 4px;
  color: #111;
  padding: 2px 8px;
  transition: 0.1s ease-in;
  &:first-child {
    background-color: $hoverBtn;
    color: $white;
  }
  &:hover {
    background-color: $hoverBtn;
    color: $white;
  }
}
.menuItemDesc {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 8px;
  & ~ img {
    opacity: 0.8;
  }
}
.breadcrumbs {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 18px;
  max-width: 950px;
  position: relative;
  z-index: 1;
  background-size: cover;
  @media (max-width: 768px) {
    font-size: 13px;
    padding-left: 16px;
    padding-right: 16px
  }
}
.breadCrumbTitle {
  color: $text;
  line-height: 18px;
  font-size: 14px;
  &:hover {
    color: $hover;
  }
}
.breadcrumbsUl {
  display: flex;
  gap: 8px;
}
.breadcrumbsLi {
  display: flex;
  align-items: center;
  gap: 8px;
  & img {
    margin-top: 3px;
  }
}
.blockResponse,
.contentArea,
.sidebarArea {
  //float: none;
  //margin-top: -1px;
  //width: 100%;
}
.designLogoWrapper {
  display: flex;
  column-gap: 24px;
}
.filters {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: 230px;
  background-color: white;
  padding: 12px 15px 10px;
  border: 1px solid #e8e8e8;
}
.filtersWrapper {
  position: relative;
  display: grid;
  row-gap: 8px;
  &:before {
    position: absolute;
    content: '';
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
  }
}
.filterTitleBox {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.filterTitle {
  position: relative;
  color: #111;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
.questionImg {
  cursor: pointer;
  &:hover ~ .filterDescBox {
    opacity: 1;
  }
}
.filterDescBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -370px;
  max-width: 397px;
  display: grid;
  row-gap: 4px;
  background-color: $text;
  color: white;
  font-size: 12px;
  line-height: 18px;
  border-radius: 4px;
  padding: 4px;
  opacity: 0;
  transition: 0.5s;
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid $text;
    border-bottom: 10px solid transparent;
  }
}
.inputBox {
  display: grid;
  grid-template-columns: repeat(2, minmax(80px, 1fr));
  column-gap: 8px;
}
.input {
  font-size: 14px;
  border: 1px solid #a5a5a5;
  height: 100%;
  padding: 4px 8px;
  &:focus {
    outline: 2px solid $btnHover;
    border: none;
  }
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.filterBtn {
  @extend %button;
  background-color: #457edb;
  color: #fff;
}

//-----------------
.checkboxLabel {
  cursor: pointer;
}
.checkbox {
  &:checked ~ .checkboxTitle {
    &::after {
      opacity: 1;
    }
  }
}
.checkboxTitle {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  gap: 0 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: black;

  &:before {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    display: block;
    border-radius: 6px;
    border: 2px solid $btnBg;
    background-color: $white;
    content: '';
  }
  //check.svg
  &::after {
    position: absolute;
    top: 3px;
    left: 6px;
    width: 3px;
    height: 10px;
    border: solid $dots;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    content: '';
    opacity: 0;
    transition: 0.3s opacity;
  }
}
//--------------
.title {
  color: #ffa800;
  font-size: 15px;
  margin-bottom: 10px
}
.filterLink {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 13px;
  line-height: 18px;
  color: black;
  transition: 0.2s ease-out;
  &:hover {
    color: $hover;
  }
}

.text {
  display: grid;
  overflow: hidden;
  grid-template-rows: 0fr;
  transition: grid-template-rows 800ms ease;
  max-width: 200px;
  min-height: 0;
}
.textOpen {
  grid-template-rows: 1fr;
}
.textBox {
  min-height: 0;
}
