@use './src/scss/_const' as *;

.designLogo {
  @extend %wrapper;
}
.catalogHeader {
  font-size: 34px;
  line-height: 40px;
  text-align: left;
  font-weight: 600;
  margin-bottom: 16px;
  @media (max-width: 767px) {
    font-size: 27px;
    line-height: 32px;
  }
}
.menuBox {
  display: flex;
  gap: 8px;
}
.menuItem {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 4px;
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 2px 8px;
  transition: 0.1s ease-in;
  &:hover {
    background-color: $hoverBtn;
    color: $white;
  }
}
.breadcrumbs {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 18px;
  max-width: 950px;
  position: relative;
  z-index: 1;
  background-size: cover;
  margin-bottom: 16px;
  @media (max-width: 768px) {
    font-size: 13px;
    padding-left: 16px;
    padding-right: 16px
  }
}
.breadCrumbTitle {
  color: $text;
  line-height: 18px;
  font-size: 14px;
  &:hover {
    color: $hover;
  }
}
.breadcrumbsUl {
  display: flex;
  gap: 8px;
}
.breadcrumbsLi {
  display: flex;
  align-items: center;
  gap: 8px;
  & img {
    margin-top: 3px;
  }
}
.blockResponse,
.contentArea,
.sidebarArea {
  //float: none;
  //margin-top: -1px;
  //width: 100%;
}
