// Main color

$text: #5a5a5a;
$hover: #ffa800;
$btnBg: #04b70a;
$btnHover: #3bd640;
$dots: #177de5;
$border: #e2e2e2;
$hoverBtn: #457edb;

$white: #fff;

%wrapper {
  max-width: 1494px;
  padding: 0 32px;
  margin: 0 auto;
}
